<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Backend" />

<f:section name="Main">
    <br>

    <h1>Edit your robots.txt</h1>
    <hr>

    <f:if condition="{createFile.0}">
        <f:then>
            <p>No robots.txt in root directory. Do you want to create one?</p>
            <f:link.action
                    controller="EditorModule"
                    action="create"
                    class="btn btn-success"
            >
                Create robots.txt
            </f:link.action>
            <f:if condition="{createFile.1.files -> f:count()} > 0">
                <strong>or</strong>
                <f:link.action
                        action="list"
                        controller="BackupModule"
                        class="btn btn-info"
                >
                    Restore robots.txt backup
                </f:link.action>
            </f:if>
        </f:then>
        <f:else>

            <f:form
                    action="update"
                    controller="EditorModule"
                    arguments="{contents: contents}"
                    method="POST"
            >

                <f:if condition="{settings.backup}">
                    <div class="backup pull-right">
                        <label for="backup">Save backupfile</label>
                        <f:form.checkbox id="backup" value="1" name="backup" />
                    </div>
                </f:if>

                <div class="form-group">
                    <f:form.textarea
                            id="robotstxt_editor"
                            name="contents"
                            class="form-control"
                            value="{contents -> f:format.raw()}"
                    >{contents -> f:format.raw()}</f:form.textarea>
                </div>

                <div class="pull-left">
                    <f:link.action
                            controller="EditorModule"
                            action="delete"
                            class="btn btn-danger"
                    >
                        <i class="fa fa-times"></i> Delete robots.txt
                    </f:link.action>
                </div>

                <div class="pull-right">
                    <f:link.action
                            controller="BackupModule"
                            action="list"
                            class="btn btn-info"
                    >
                        <i class="fa fa-list" aria-hidden="true"></i> List backups
                    </f:link.action>
                    <f:form.button
                            type="submit"
                            class="btn btn-success"
                            id="updateFile"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i> Update robots.txt
                    </f:form.button>
                </div>
            </f:form>

            <f:render section="script" />
        </f:else>
    </f:if>

</f:section>

<f:section name="script">
    <script>
        ;(function($) {

            "use strict";

            var App = {
                editor: $('#robotstxt_editor').val(),

                init: function() {
                    this.clickButton();
                },

                trimRows: function() {
                    var rows = $('#robotstxt_editor').val().split("\n");

                    return rows.map(function(row, index) {
                        if (row) {
                            return row.trim();
                        }
                    });
                },

                clickButton: function() {
                    $('#updateFile').on('click', function() {
                        $('#robotstxt_editor').val(this.trimRows().join("\n"));
                    }.bind(this));
                }
            };

            App.init();

        })(TYPO3.jQuery);
    </script>
</f:section>

</html>