<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Backend" />

<f:section name="Main">
    <f:if condition="{createFile.0}">
        <f:then>
            <div class="editing-entry text-center">
                <h1><f:translate key="label.editing_entry_headline" /></h1>
                <p><f:translate key="label.editing_entry" /></p>
                <p><f:translate key="label.no_file" /></p>
                <f:link.action
                        controller="EditorModule"
                        action="create"
                        class="btn btn-lg btn-success"
                >
                    <f:translate key="label.create_file" />
                </f:link.action>
                <strong><f:translate key="label.or" /></strong>
                <f:link.action
                        controller="EditorModule"
                        action="createBlueprint"
                        class="btn btn-lg btn-info"
                >
                    <f:translate key="label.create_blueprint" />
                </f:link.action>

                <f:if condition="{createFile.1.files -> f:count()} > 0">
                    <strong><f:translate key="label.or" /></strong>
                    <f:link.action
                            action="list"
                            controller="BackupModule"
                            class="btn btn-lg btn-warning"
                    >
                        <f:translate key="label.list_backups" />
                    </f:link.action>
                </f:if>
            </div>

        </f:then>
        <f:else>
            <br>
            <h1><f:translate key="label.editor_headline" /></h1>
            <hr>

            <f:form
                    action="update"
                    controller="EditorModule"
                    arguments="{contents: contents}"
                    method="POST"
            >

                <f:if condition="{settings.backup}">
                    <div class="top">
                        <div class="pull-left">
                            <f:link.action
                                    controller="BackupModule"
                                    action="list"
                                    class="btn btn-info"
                            >
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <f:translate key="label.list" />
                            </f:link.action>
                        </div>
                        <div class="backup pull-right">
                            <label for="backup"><f:translate key="label.save_file" /></label>
                            <f:form.checkbox id="backup" value="1" name="backup" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </f:if>

                <div class="form-group">
                    <f:form.textarea
                            id="robotstxt_editor"
                            name="contents"
                            class="form-control"
                            value="{contents -> f:format.raw()}"
                    >{contents -> f:format.raw()}</f:form.textarea>
                </div>

                <div class="pull-left">
                    <f:link.action
                            controller="EditorModule"
                            action="delete"
                            class="btn btn-danger"
                    >
                        <i class="fa fa-times"></i>
                        <f:translate key="label.delete_file" />
                    </f:link.action>
                </div>

                <div class="pull-right">
                    <f:form.button
                            type="submit"
                            class="btn btn-success"
                            id="updateFile"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <f:translate key="label.update" />
                    </f:form.button>
                </div>
            </f:form>

            <f:render section="script" />
        </f:else>
    </f:if>

</f:section>

<f:section name="script">
    <script src="{f:uri.resource(path: 'JavaScript/Editor/Editor.js')}"></script>
</f:section>

</html>