<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Backend" />

    <f:section name="Main">
        <f:flashMessages renderMode="div" />
        <br>

        <h1>Your robots.txt backups</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <f:if condition="{settings.list.showModificationTime}">
                        <th>Creation date</th>
                    </f:if>
                    <th class="text-right">Edit</th>
                </tr>
            </thead>

            <tbody>
            <f:for each="{files}" as="file" iteration="i">
                <tr>
                    <td>
                        # {i.cycle}
                    </td>
                    <td>
                        {file.name}
                    </td>
                    <f:if condition="{settings.list.showModificationTime}">
                        <td>
                            {file.time}
                        </td>
                    </f:if>

                    <td class="text-right">
                        <f:link.action
                                action="remove"
                                controller="EditorModule"
                                arguments="{file: '{file.name}'}"
                                class="btn btn-danger"
                        >
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </f:link.action>

                        <f:link.action
                                action="restore"
                                controller="EditorModule"
                                arguments="{file: '{file}'}"
                                class="btn btn-default"
                                title="Restore backup"
                        >
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </f:link.action>

                        <a
                                href="#"
                                data-file="{file.name}"
                                title="Show contents"
                                class="btn btn-success checkFile"
                        >
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </f:for>
            </tbody>

        </table>

        <div>
            <f:link.action
                    action="index"
                    controller="EditorModule"
                    class="btn btn-success"
            >
                &lt; Back to list
            </f:link.action>
        </div>

        <f:render section="script" />

        <style>
            @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

            .fa {
                font-size: 2rem;
            }
        </style>
    </f:section>

    <f:section name="script">
        <script>
            <![CDATA[
            ;(function($, TYPO3){
                "use strict";

                var App = {

                    init: function() {
                        this.checkContent()
                    },

                    checkContent:  function() {
                        var _this = this;

                        $('.checkFile').on('click', function(e) {
                            e.preventDefault();

                            var ajaxUrl = TYPO3.settings.ajaxUrls['EditorModuleController::checkFileContent'];
                            var path = "]]>{settings.backup_path}<![CDATA[";
                            var file = path + $(this).data('file');

                            $.get(ajaxUrl, {data: file}, function(data, status) {
                                if (status === 'success') {
                                    _this.contentSlide(data);
                                }
                            });
                        });
                    },

                    contentSlide: function(data) {
                        var _this = this;

                        return $('<div />', {
                            id: 'fileContents',
                            css: {
                                position: 'fixed',
                                zIndex: 99,
                                top: 0,
                                right: -450,
                                background: '#e1e1e1',
                                width: 450,
                                height: "100%",
                                padding: '2rem',
                                boxShadow: '0 0 20px 10px rgba(0,0,0,0.5)',
                                overflow: 'auto'
                            }
                        })
                                .animate({
                                    right: 0
                                }, function() {
                                    _this.closeSlider();
                                })
                                .appendTo('body')
                                .html(data);
                    },

                    closeSlider: function() {
                        return $('<div />', {
                            id: 'closeSlider',
                            css: {
                                position: 'absolute',
                                zIndex: 100,
                                top: 0,
                                right: 0,
                                color: '#c83c3c',
                                width: 30,
                                height: 30,
                                lineHeight: '30px',
                                display: 'block',
                                textAlign: 'center',
                                cursor: 'pointer',
                                fontSize: '25px'
                            }
                        })
                                .appendTo('#fileContents')
                                .html('<i class="fa fa-times" aria-hidden="true"></i>')
                                .on('click', function(e) {
                                    e.preventDefault();
                                    $('#fileContents').animate({
                                        right: -450
                                    }, function() {
                                        $(this).remove();
                                    });
                                });
                    }

                };

                App.init();

            })(TYPO3.jQuery, TYPO3);
            ]]>
        </script>
    </f:section>

</html>