<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Backend" />

<f:section name="Main">
    <f:flashMessages />
    <br>

    <h1><f:translate key="label.backups_headline" /></h1>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th><f:translate key="label.name" /></th>
            <f:if condition="{settings.list.showModificationTime}">
                <th><f:translate key="label.creation_date" /></th>
            </f:if>
            <th class="text-right"><f:translate key="label.edit" /></th>
        </tr>
        </thead>

        <tbody>
        <f:for each="{files}" as="file" iteration="i">
            <tr>
                <td>
                    # {i.cycle}
                </td>
                <td>
                    {file.name}
                </td>
                <f:if condition="{settings.list.showModificationTime}">
                    <td>
                        {file.time}
                    </td>
                </f:if>

                <td class="text-right">
                    <f:link.action
                            action="remove"
                            controller="BackupModule"
                            arguments="{file: '{file.name}'}"
                            class="btn btn-danger"
                            title="delete backup file"
                    >
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <f:translate key="label.delete" />
                    </f:link.action>

                    <f:link.action
                            action="restore"
                            controller="BackupModule"
                            arguments="{file: '{file.name}'}"
                            class="btn btn-default"
                            title="Restore backup"
                    >
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        <f:translate key="label.restore" />
                    </f:link.action>

                    <a
                            href="#"
                            data-file="{settings.backup_path}{file.name}"
                            title="Show contents"
                            class="btn btn-success checkFile"
                    >
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        <f:translate key="label.preview" />
                    </a>
                </td>
            </tr>
        </f:for>
        </tbody>

    </table>

    <div>
        <f:link.action
                action="index"
                controller="EditorModule"
                class="btn btn-success"
        >
            <f:translate key="label.back" />
        </f:link.action>
    </div>

    <f:render section="script" />
</f:section>

<f:section name="script">
    <script src="{f:uri.resource(path: 'JavaScript/Backup/Backup.js')}"></script>
</f:section>

</html>