#robotstxt_editor {
    line-height: 2rem;
    background: #e1e1e1;
    padding: 1rem;
    height: 500px;
}
label {
    cursor: pointer;
}

#fileContents {
    position: fixed;
    z-index: 99;
    top: 0;
    right: -450px;
    background: #e1e1e1;
    width: 450px;
    height: 100%;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
    overflow: auto;
    padding: 30px;
}
#fileContents .inner {
    padding: 2rem;
    background: #fff;
}

#closeSlider {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    color: #c83c3c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
}

.fa {
     font-size: 2rem;
}